@import "../../Themes/Color.scss";
h2{
    color: $primary;
}
.contact-icons{
    font-size: 38px;
    border: 1px solid $primary;
    color: $primary;
    padding: 9px;
    border-radius: 50%;
    margin-right: 12px;
    margin-top: 15px;
    cursor: pointer;
    transition: .2s all ease-in-out;
   
    &:hover{
        color: white;
        background-color: $primary;
}
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(206, 205, 205);
    padding: 16px 0px;
    margin-bottom: 20px;

    // &::after{
    //     content: " ";
    //     background-color: black;
    //     position: absolute;
    //     height: 2px;
    //     width: 0%;
    //     left: 0;
    //     transition: all .5s ease;
    //     bottom: -6px;

        &:hover{
            border-bottom: 1px solid $secondary;
            transition: .5s ease-out;
        }

    &:focus{
        outline: none;
        border-bottom: 1px solid $secondary;
    }

}
.margin{
width: 30px;
}
.p{
    font-size: 18px;
}
h5{
    font-size: 22px;
}
.icons{
    font-size: 48px;
    color: $primary;
}
.bord{
    border-right: 1px solid rgb(235, 234, 234);
}
.bords{
    border-right: 1px solid rgb(235, 234, 234);
}

@media (max-width:1000px) {
    .contact{
        margin-right: 50px;
        margin-left: 50px;
    }
}
@media (max-width:768px) {
    .form{
        margin-top: 50px;
    }
    .info{
        width: 100%;
    }
    .icons{
        font-size: 40px;
    }
}
@media (max-width:990px) {
    .bords{
        border-right: 0px;
    }
}
@media (max-width:598px) {
    .bord{
        border-right: 0px;
    }
}
@media (max-width:330px) {
    .p{
        font-size: 13px;
    }
}
                                         
