@import "../../Themes/Color.scss";
h2{
    color: $primary;
}
.contact-icons{
    font-size: 38px;
    border: 1px solid $primary;
    color: $primary;
    padding: 9px;
    border-radius: 50%;
    margin-right: 12px;
    margin-top: 15px;
    cursor: pointer;
    transition: .2s all ease-in-out;
   
    &:hover{
        color: white;
        background-color: $primary;
}
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(206, 205, 205);
    padding: 16px 0px;
    margin-bottom: 20px;

    // &::after{
    //     content: " ";
    //     background-color: black;
    //     position: absolute;
    //     height: 2px;
    //     width: 0%;
    //     left: 0;
    //     transition: all .5s ease;
    //     bottom: -6px;

        &:hover{
            border-bottom: 1px solid $secondary;
            transition: .5s ease-out;
        }

    &:focus{
        outline: none;
        border-bottom: 1px solid $secondary;
    }

}
                                         
