.cards {
  .cards-img {
    overflow: hidden;
    position: relative;

    img {
      transition: 0.7s all ease-in-out;
      width: 280px;

      &:hover {
        transform: scale(1.2);
      }
    }

    .icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: 0.3s all ease-in-out;
      z-index: 1;

      .card-icons {
        font-size: 36px;
        background-color: white;
        color: rgb(63, 62, 62);
        padding: 9px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    
        &:hover {
          transform: translateY(-8px);
        }
      }
      .center-icon{
        margin: 0px 12px;
      }
    }
  }

  &:hover {
    .icons {
      opacity: 1;
    }
  }
}

@media (max-width: 762px) {
    .cards .cards-img img{
        width: 100%;
        margin-right: 0px;
    }
  }